@use "../base" as *;

:root,
[data-theme="default"] {
  // borders
  --border: 1px solid var(--color-border);

  // radius
  --radius: 0.5rem; // border radius base size

  --radius-xs: calc(var(--radius) / 3.25);
  --radius-sm: calc(var(--radius) / 2);
  --radius-md: calc(var(--radius-sm) + 2px);
  --radius-lg: calc(var(--radius) * 4);
  --radius-full: 50%;

  @include breakpoint(xs) {
  }

  // transitions
  --transition: 0.175s ease;
  --transition-all: all var(--transition);

  // misc
  --panel-crest-symbol-width: 75px;
  --token-fill-eth: var(--color-white);

  // box shadow
  --shadow-xs: 0 0.5px 1px rgba(0, 0, 0, 0.06), 1px 1px 2px rgba(0, 0, 0, 0.12);
  --shadow-sm: 0 0.3px 0.4px rgba(0, 0, 0, 0.025),
    1px 0.9px 1.25px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 0.9px 1.5px rgba(0, 0, 0, 0.03),
    0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
  --shadow-lg: 0 1.2px 1.9px -1px rgba(0, 0, 0, 0.014),
    0 3.3px 5.3px -1px rgba(0, 0, 0, 0.038),
    0 8.5px 12.7px -1px rgba(0, 0, 0, 0.085),
    0 30px 42px -1px rgba(0, 0, 0, 0.15);
  // --shadow-xl: 0 1.5px 2.1px -6px rgba(0, 0, 0, 0.012),
  //   0 3.6px 5.2px -6px rgba(0, 0, 0, 0.035),
  //   0 7.3px 10.6px -6px rgba(0, 0, 0, 0.07),
  //   0 16.2px 21.9px -6px rgba(0, 0, 0, 0.117),
  //   0 46px 60px -6px rgba(0, 0, 0, 0.2);

  // inset box shadow
  --shadow-inset-xs: inset 0 -0.1px 0.2px rgba(0, 0, 0, 0.06),
    inset 0.5px 1px 1px rgba(0, 0, 0, 0.12);
  --shadow-inset-sm: inset 0 -0.1px 0.3px rgba(0, 0, 0, 0.06),
    inset 0.5px 1px 3px rgba(0, 0, 0, 0.25);
}

[data-theme="darkMode"] {
  // box shadow
  --shadow-xs: 0 0.5px 1px rgba(0, 0, 0, 0.16), 1px 1px 2px rgba(0, 0, 0, 0.33);
  --shadow-sm: 0 0.3px 0.4px rgba(0, 0, 0, 0.025),
    1px 0.9px 1.25px rgba(0, 0, 0, 0.17), 0 3.5px 6px rgba(0, 0, 0, 0.24);
}

// --------------------------------
// Shared styles
// --------------------------------

.hover\:reduce-opacity {
  opacity: 1;
  transition: var(--transition-all);

  &:hover {
    opacity: 0.8;
  }
}

.hover\:scale {
  transition: transform 0.3s var(--ease-out-back);

  &:hover {
    transform: scale(1.1);
  }
}

.hover\:elevate {
  box-shadow: var(--shadow-sm);
  transition: var(--transition-all);

  &:hover {
    box-shadow: var(--shadow-md);
  }
}

.v-timeline-divider__before,
.v-timeline-divider__after {
  background: var(--color-border) !important;
  width: 1px !important;
}

.v-timeline-divider__dot {
  background: none !important;
}
