@use "../base" as *;

:root {
  // font family
  --font-primary: "Franca", Arial, Helvetica, system-ui, sans-serif;
  --font-secondary: "Arial", Arial, system-ui, sans-serif;

  // font size
  --text-base-size: 1rem; // body font-size
  --text-scale-ratio: 1.333; // multiplier used to generate the type scale values 👇

  @include breakpoint(md) {
    --text-base-size: 1.15rem; // body font-size
  }

  // font weight
  --body-font-weight: 500;
  --heading-font-weight: 500;

  // line-height
  --body-line-height: 1.5;
  --heading-line-height: 1.25;

  // letter-spacing
  --heading-letter-spacing: 0em;
  --body-letter-spacing: 0em;

  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;

  // unit - don't modify unless you want to change the typography unit (e.g., from Rem to Em units)
  --text-unit: var(--text-base-size); // if Em units → --text-unit: 1em;

  // @include breakpoint(sm) {
  //   --text-base-size: 1.15rem;
  // }
}

:root,
* {
  // type scale
  --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
}

// Franca Book
@font-face {
  font-family: "Franca";
  src: url("/fonts/Franca-Book.eot");
  src: url("/fonts/Franca-Book.woff2") format("woff2"),
    url("/fonts/Franca-Book.woff") format("woff"),
    url("/fonts/Franca-Book.otf") format("opentype"),
    url("/fonts/Franca-Book.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Franca Medium
@font-face {
  font-family: "Franca";
  src: url("/fonts/Franca-Medium.eot");
  src: url("/fonts/Franca-Medium.woff2") format("woff2"),
    url("/fonts/Franca-Medium.woff") format("woff"),
    url("/fonts/Franca-Medium.otf") format("opentype"),
    url("/fonts/Franca-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Franca Semi Bold
@font-face {
  font-family: "Franca";
  src: url("/fonts/Franca-SemiBold.eot");
  src: url("/fonts/Franca-SemiBold.woff2") format("woff2"),
    url("/fonts/Franca-SemiBold.woff") format("woff"),
    url("/fonts/Franca-SemiBold.otf") format("opentype"),
    url("/fonts/Franca-SemiBold.eot?#iefix") format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// Franca Bold
@font-face {
  font-family: "Franca";
  src: url("/fonts/Franca-Bold.eot");
  src: url("/fonts/Franca-Bold.woff2") format("woff2"),
    url("/fonts/Franca-Bold.woff") format("woff"),
    url("/fonts/Franca-Bold.otf") format("opentype"),
    url("/fonts/Franca-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

::selection {
  color: var(--color-bg);
  background-color: var(--color-text-muted);
}

body {
  @include fontSmooth;

  color: var(--color-text);
  font-family: var(--font-primary);
  font-size: var(--text-base-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-text);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
}

h1 {
  font-size: var(--text-xl);

  @include breakpoint(md) {
    font-size: var(--text-xxl);
  }
}

h2 {
  font-size: var(--text-lg);
  margin-bottom: var(--space-md);
}

h3 {
  font-size: var(--text-md);
  // font-weight: 600;
}

h4 {
  font-size: var(--text-md);
}

h5 {
  font-size: var(--text-base-size);
  text-transform: uppercase;
}

// --------------------------------

// Inline Text

// --------------------------------

p {
  color: var(--color-text-light);
  font-size: calc(var(--text-base-size) * 1);
  line-height: var(--body-line-height);

  &:not(:last-child) {
    margin-bottom: var(--space-md);
  }
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: var(--transition-all);

  &:hover {
    // color: var(--color-primary-light);
  }

  &.link {
    color: var(--color-accent);
    text-decoration: none;
    transition: var(--transition-all);

    &:hover {
      // color: var(--color-primary-light);
      text-decoration: underline;
    }
  }
}

small {
  font-size: calc(var(--text-base-size) / 1.15);
  line-height: 0.75rem;
}

strong {
  font-weight: 600;
}

s {
  text-decoration: line-through;
}

u {
  text-decoration: underline;
}

mark {
  background-color: var(--color-success-darker);
  color: var(--color-white);
  display: inline-block;
  padding: var(--space-sm) var(--space-md);
}

.text-arial {
  font-family: var(--font-secondary) !important;
}

.text-muted {
  color: var(--color-text-muted);
}

.text-component {
  --line-height-multiplier: 1;
  --text-space-y-multiplier: 1;

  >* {
    // use Em units
    --text-unit: 1em;
    --space-unit: 1em;
  }

  blockquote {
    padding-left: 1em;
    border-left: 4px solid var(--color-contrast-lower);
    font-style: italic;
  }

  hr {
    background: var(--color-contrast-lower);
    height: 1px;
  }

  figcaption {
    font-size: var(--text-sm);
    color: var(--color-contrast-low);
  }
}

ul {
  color: var(--color-text-light);
  list-style: circle;
  // list-style-position: inside;

  li {}
}

// .article {
//   // e.g., blog posts
//   --body-line-height: 1.58; // set body line-height
//   --text-space-y-multiplier: 1.2; // control vertical spacing
// }